brotlipy==0.6.0
cffi==1.8.3
dj-database-url==0.4.1
Django==1.9
django-appconf==1.0.2
django-compressor==2.1
django-sass-processor==0.5.1
enum34==1.1.6
gunicorn==19.6.0
libsass==0.11.2
psycopg2==2.6.2
pycparser==2.17
pycurl==7.43.0
pytz==2014.10
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
sqlparse==0.1.18
virtualenv==15.0.3
whitenoise==3.2.2
